<header class="p-3 text-bg-dark bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><%= link_to "フレンド募集一覧", public_friends_path, class: "nav-link px-2 text-white" %></li>
          <li><%= link_to "コミュニティーボード", "#", class: "nav-link px-2 text-white" %></li>
          <li><%= link_to "サークル", "#", class: "nav-link px-2 text-white" %></li>
          <li><%= link_to "League of Friendsについて", "#", class: "nav-link px-2 text-white" %></li>
          <li><%= link_to "お問い合わせ", "#", class: "nav-link px-2 text-white" %></li>
        </ul>

        <% if user_signed_in? %>
        <div class="dropdown text-end text-white me-2">
          <a href="#" class="d-block text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">

          <% if @user.profile_image.attached? %>
            <%= image_tag @user.profile_image, size: "32x32", class: "rounded-circle me-2" %>
          <% else %>
            <%= image_tag asset_path("no_image.jpg"), size: "32x32", class: "rounded-circle me-2" %>
          <% end %>
          <%= current_user.summoner_name %></a>


          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><%= link_to "プロフィール", public_user_path(current_user.id), class: "dropdown-item" %></li>
            <li><%= link_to "フレンド募集", new_public_friend_path, class: "dropdown-item" %></li>
            <li><%= link_to "フォロー・フォロワー一覧", "#", class: "dropdown-item" %></li>
            <li><%= link_to "ダイレクトメッセージ", "#", class: "dropdown-item" %></li>
            <li><%= link_to "マイサークル", "#", class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
          </ul>
        </div>

        <% else %>

        <%= link_to "サインイン", new_user_session_path, class: "btn btn-outline-light me-2" %>
        <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-warning" %>

        <% end %>

      </div>
    </div>
</header>